<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a>
    </p>

    <div id="card">
      <ion-card>
        <img alt="Nandhi" src="assets/mutia.jpg" class="card-image" />
        <ion-card-header>
          <ion-card-title>Mutia Nandhika</ion-card-title>
          <ion-card-subtitle>H1D022078</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Mahasiswi Jurusan Informatika Angkatan 2022.
        </ion-card-content>
      </ion-card>
    </div>

    <div>
      <ion-button>Nandhi</ion-button>
      <ion-button shape="round">H1D022078</ion-button>
    </div>

    <div>
      <ion-checkbox>Tugas 6 Pertemuan 7</ion-checkbox>
    </div>
  </div>
</ion-content>
